<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="MonoServerDefaultIndexFiles" value="Index.ashx"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--
    <trust level="Medium" originUrl="*" processRequestInApplicationTrust="true" />
    -->
    <!-- 102400 (100MB) 1200 (1Hr) -->
    <httpRuntime maxRequestLength="10240" executionTimeout="1200"/>
  </system.web>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=localhost;Initial Catalog=Security;Integrated Security=True;Network Library=dbmssocn;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <remove invariant="Mono.Data.Sqlite"/>
      <add name="Mono SQLite Data Provider" invariant="Mono.Data.Sqlite" description="Mono SQLite .Net Framework Data Provider for SQLite" type="Mono.Data.Sqlite.SQLiteFactory, Mono.Data.Sqlite"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>